#img img {
  margin-left: -100px;
  width: 140px;
}

#img img:first-child {
  margin-left: 50px;
}


/****************************************************loader*****************************************/

.cards {
  position: absolute;
  margin: 50px auto;
  height: 80px;
  width: 45px;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  visibility: hidden;
  left: 50%;
  right: 50%;
  transform: translate(-100%,-100%);
  z-index: 50;
}

.cards.display{
  visibility: visible;
}
.cards .card {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 7px;
  padding-left: 5px;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
.cards p {
  font-size: 0.5em;
  position: absolute;
  bottom: -45px;
  left: -13px;
  margin: 0;
  color: black;
}
.cards .one {
  animation-name: anim-one;
}

@keyframes anim-one {
  from {
    transform: translate(0) rotate(0deg);
 }
  50% {
    transform: translate(-30px, 5px) rotate(-45deg);
 }
  to {
    transform: translate(0) rotate(0deg);
 }
}
.cards .two {
  animation-name: anim-two;
}
@keyframes anim-two {
  from {
    transform: translate(0) rotate(0deg);
 }
  50% {
    transform: translate(-15px) rotate(-25deg);
 }
  to {
    transform: translate(0) rotate(0deg);
 }
}
.cards .three {
  animation-name: anim-three;
}
@keyframes anim-three {
  from {
    transform: translate(0) rotate(0deg);
 }
  50% {
    transform: rotate(-5deg);
 }
  to {
    transform: translate(0) rotate(0deg);
 }
}
.cards .four {
  animation-name: anim-five;
}
@keyframes anim-five {
  from {
    transform: translate(0) rotate(0deg);
 }
  50% {
    transform: translate(15px, 5px) rotate(15deg);
 }
  to {
    transform: translate(0) rotate(0deg);
 }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*******************************************************popup-rules***************************************************/

/* Popup container */
.popup {
  position: relative;
  display: flex;
  cursor: pointer;
  z-index: 1;
  color: white;
  justify-content: left;
  margin-left: 10px;
  margin-top: 10px;
  
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 0%;
  height: auto;
  top: 100%;
}

.popup .popuptext > p{
  padding-left: 5px;
  padding-right: 5px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 15%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255) transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  display: flex;
}
.box {
  height: 100%;
  background: transparent;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container.box {
  flex-direction: column;
}

.remainingCards {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  margin-right: 10px;
}

.network {
  color: rgb(2, 1, 1);
  margin-left: 10px;
}

body {
  background-image: url("../assets/img/game.jpg");
  background-size: auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.top {
  height: 50px;
  background-color: rgb(216, 216, 216);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: linear-gradient(
    90deg,
    #787878 0%,
    #b5b5b5 25%,
    #e3e3e3 50%,
    #b5b5b5 75%,
    #787878 100%
  );
}

.bottom {
  height: 50px;
  background-color: rgb(216, 216, 216);
  color: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: linear-gradient(
    90deg,
    #7e7e7e 0%,
    #e3e3e3 25%,
    #787878 50%,
    #e3e3e3 75%,
    #7e7e7e 100%
  );
}

.before-bottom {
  position: absolute;
  bottom: 50px;
  display: flex;
  width: 100%;
}

.before-bottom .right,
.before-bottom .left {
  width: 50%;
  margin-bottom: 15px;
  padding: 0 10px;
}
.before-bottom .right {
  display: flex;
  justify-content: end;
}
.before-bottom button {
  margin-left: 10px;
  width: 85px;
  height: 85px;
  border-radius: 100%;
}

.btn-hit {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #00ff0d;
  color: white;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

.btn-stand {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #00e1ff;
  color: white;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

.btn-restart {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #ff0000;
  color: white;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

.btn-undo {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #e5ff00;
  color: white;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

.btn-restart:hover {
  background-color: #860a0a;
}

.btn-hit:hover {
  background-color: #085c0f;
}

.btn-stand:hover {
  background-color: #0a8790;
}

.btn-undo:hover {
  background-color: #a1a302;
}

.item {
  padding: 20px;
}
.divScore {
  font-size: 25px;
  color: #000000;
  align-self: center;
  justify-content: right;
  margin: 0 auto;
}

.bottom button {
  margin: 5px;
  align-self: center;
}
.bottom .container {
  justify-content: space-between;
}

.item {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: fixed;
  justify-content: center;
  align-self: center;
}

#result {
  margin: 0 auto;
}

.remainingCards {
  text-align: center;
}

.remainingCards > img {
  height: 20px;
  width: 20px;
}


#modalResult{
  height: 250px;
  width: 500px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 25%;
  border-radius: 10px;
  transform: translate(-50%, -70%);
  text-align: center;
  z-index: 50;
}


/**modal win*/
#modalResult.won{
  background: rgb(7,129,54);
  background: linear-gradient(90deg, rgba(7,129,54,1) 0%, rgba(146,251,131,1) 25%, rgba(0,255,39,1) 50%, rgba(13,209,72,1) 75%, rgba(7,129,54,1) 100%);
  background-size: 500% 500%;
	animation: gradient 15s ease infinite;
  text-align: center;
  color: rgb(0, 0, 0);
}
/**modal lost*/
#modalResult.lost{
  background: rgb(255,136,136);
  background: linear-gradient(90deg, rgba(255,136,136,1) 0%, rgba(255,35,35,1) 25%, rgba(255,9,0,1) 50%, rgba(252,122,115,1) 75%, rgba(255,138,138,1) 100%);
  background-size: 500% 500%;
	animation: gradient 15s ease infinite;
  text-align: center;
  color: white;
}

/*modal blackjack*/
#modalResult.blackjack {
  background: rgb(1,251,255);
  background: linear-gradient(151deg, rgba(1,251,255,1) 0%, rgba(110,240,202,1) 23%, rgba(131,92,241,1) 57%, rgba(214,89,211,1) 75%);
  background-size: 500% 500%;
	animation: gradient 15s ease infinite;
  text-align: center;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#modalResult .btn-restart {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 50px;
  width: 100px;
  background-color: #000000;
  color: white;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
}

#modalResult .btn-restart:hover {
  color: black;
  background-color: #ffffff;
}

#modalResult .modal-header{
  margin-left: 1em;
  margin-right: 1em;
}

#modalResult .modal-content{
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}

#modalResult .title{
  font-size: 25px;
}

.modalResult .show{
    pointer-events: auto;
    opacity: 1;
}

/*********************************************************Mobile***********************************************/
@media screen and (max-width: 500px)  {

  #img {
    height: 10rem;
    width: 15rem;
    margin-top: 30%;
  }

  #img img {
    margin-left: -70px;
    width: 80px;
  }

  .item {
    top: 50%;
    left: 55%;
    transform: translate(-50%,-15%);
    /* min-height: 500px; */
    justify-content: center;
    align-self: center;
    padding: 0;
    padding-top: 0px;
    height: 30%;

  }

  /* Popup container */
  .popup {
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 1;
    color: white;
    justify-content: left;
    margin-left: 5px;
    margin-top: 5px;
    
  }
  .popup > img {
    width: 30px;
    height: 30px;
  }

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 12px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 0%;
    height: auto;
    top: 100%;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 13%;   
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }



  .cards {
    position: absolute;
    margin: 50px auto;
    height: 70px;
    width: 45px;
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
    visibility: hidden;
    left: 50%;
    right: 50%;
    transform: translate(-100%,-100%);
    /* animation: spin 3s infinite linear; */
  }

  #modalResult{
    height: 140px;
    width: 300px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 23%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    /* display: none; */
  
  }
  
  #modalResult .modal-content{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 13px;
    text-align: center;
  }
 
  #modalResult .title{
    text-align: center;
    font-size: 14px;
  }
  
  #modalResult .btn-restart {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 10px;
    height: 25px;
    padding: 0 10px;
    transition: all 300ms ease-in-out;
    width: 25%;
    margin-top: 10px;
  }

  #modalResult .btn-restart:hover {
    color: black;
    background-color: #ffffff;
  }
  
  #modalResult .modal-header{
    margin-left: 1em;
    margin-right: 1em;
  }
  
  .modalResult.show{
      pointer-events: auto;
      opacity: 1;
  }
  
  .before-bottom button {
    margin-left: 10px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
  }

  .before-bottom button > img {
    width: 40px;
    height: 40px;
  }

  #modalResult .modal-content{
    margin: 0 auto;
  }
  
  #modalResult .title{
    font-size: 16px;
  }
  
}


/*******************************************************Tablet******************************************/
@media screen and (min-width: 650px) {
  #img img {
    margin-left: -90px;
    width: 120px;   
  }

  #img {
    width: 25rem;
    margin-top: 30%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-10rem,0);
  }

  .item {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    justify-content: center;
    align-self: center;
    padding-top: 0;
    padding-bottom: 0;
  }

}


button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}
/*******************************************************Desktop******************************************/

@media screen and (min-width: 950px) {
  #img img {
    margin-left: -100px;
    width: 150px;
  }
  
  #img img:first-child {
    margin-left: 50px;
  }

  #img {
    height: 15rem;
    width: 30rem;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-30%,0%);
  }
  
}

/**************************************************orientation landscape device**********************************************/

@media screen and (orientation: landscape) {

  #modalResult{
    height: 190px;
    width: 400px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 20%;
    border-radius: 10px;
    transform: translate(-50%, 0);
  }
  
  #modalResult .modal-content{
    margin: 0 auto;
    font-size: 15px;
  }
  
  #modalResult .title{
    font-size: 16px;
  }

  #modalResult .btn-restart {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 10px;
    height: 35px;
    padding: 0 10px;
    transition: all 300ms ease-in-out;
    width: 25%;
    margin-top: 10px;
  }

  #modalResult .modal-header{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
  }
  
  .popup > img {
    width: 30px;
    height: 30px;
  }

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 9px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 0%;
    height: 90px;
    top: 100%;
  }

  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 6%;   
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
  }

  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

}